<div class="col-md-12" ng-init="init()">

    <div class="col-md-12 pointer" ng-click='toggleFiltering()'>
        <h6 class="text-success" ng-if="!showFiltering"> + Show Filtering & Search</h6>
        <h6 class="text-success" ng-if="showFiltering"> - Hide Filtering & Search</h6>
    </div>

    <div class="filter-section">
        <div class="col-md-12 d-flex">
            <div class="col-md-4 mt-2">
                <div class="col-md-12 d-flex mt-4">
                    <div class="col-md-6 d-flex text-right">
                        <div class="pointer">
                            <div ng-if="ascending == 1" ng-click="switchAscDesc()">
                                <i class="fas fa-sort-alpha-down filterSign"></i>
                            </div>
                            <div ng-if="ascending == -1" ng-click="switchAscDesc()">
                                <i class="fas fa-sort-alpha-up filterSign"></i>
                            </div>
                        </div>
                        <h5 class="ml-2 mt-2"> Sort By:</h5>
                    </div>
                    <div class="col-md-6 mr-2">
                        <select ng-model="sortByValue" class="form-control" ng-change="updateSortValue()">
                            <option ng-repeat="option in sorts" value="{{option.value}}">{{option.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 d-flex mt-1">
                    <div class="col-md-6 d-flex text-right">
                        <div>
                            <i class="fas fa-filter filterSign"></i>
                        </div>
                        <h5 class="ml-2 mt-2"> Filter By:</h5>
                    </div>
                    <div class="col-md-6 mr-2">
                        <select ng-model="categoryFilter" ng-change="filterByCategory()" class="form-control">
                            <option value="">All</option>
                            <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-12 d-flex mt-1 pointer" ng-click="clearFiltering()">
                    <div class="col-md-12 d-flex text-right">
                        <div>
                            <i class="fas fa-trash filterSign"></i>
                        </div>
                        <h5 class="ml-2 mt-3"> Clear filtering </h5>
                    </div>
                </div>
            </div>

            <div class="col-md-8 pull-right d-flex border-left">
                <i class="fas fa-search searchIcon mr-sm-2 ml-2"></i>
                <input class="form-control mr-sm-2 ml-2 searchInput" id="searchForm" ng-model="searchForm" ng-keyup="checkLength()" type="search"
                    placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>

    <div class="col-md-12 mt-4 ml-4">
        <div class="col-md-4">
            <button class="btn btn-success" ng-click="saveFavorites()"> <i class="fas fa-cloud"></i> Save Favorites</button>
            <small class="text-success">{{saveMsg}}</small>
            <small class="text-danger">{{saveErr}}</small>
        </div>
    </div>

    <div ng-if="points.length > 0" class="grid-container-points mt-2">
        <div class="grid-item-points" ng-repeat="point in points">
            <div class="card">
                <div class="card-header text-center alert-success font-weight-bold">
                    <a href="#!/point/{{point.id}}" class="card-link text-success">
                        {{point.name}} [{{point.category}}]
                    </a>
                </div>
                <div class="card-body">
                    <img class="homepage-card-img mb-5" ng-src="{{point.img_url}}">
                    <!-- <p class="card-text" ng-if="point.description.length > 200" title="{{point.description}}"> {{point.description | limitTo: 200}}.. </p> -->
                    <!-- <p class="card-text" ng-if="point.description.length <= 200" title="{{point.description}}"> {{point.description}} </p> -->
                    <div class="form-group d-flex mt-5 ml-1">
                        <label class="mt-1 mr-3" for="order">Order #</label> <input type="number" min="1" class="form-control w-25 orders" ng-change="swapPlaces(point.id)" ng-model="point.fav_order">
                    </div>
                </div>
                <div class="card-footer d-inline-flex bg-dark text-white text-center">
                    <div class="col-md-1 pt-1">
                        <!-- <div ng-if="!isFavorited(point.id)" class="pointer" ng-click="toggleFavorite(point.id)">
                            <i class="far fa-star"></i>
                        </div> -->

                        <div class="pointer yellow-star" ng-click="toggleFavorite(point.id)">
                            <i class="fas fa-star"></i>
                        </div>
                    </div>

                    <div class="col-md-4 pl-5 pr-1">
                        <i class="fas fa-comments"></i>
                        <button class="btn btn-link text-success m-0 p-0" ng-click="showReviewsModal(point.id)"> {{ point.total_reviews || 0 }} </button>
                    </div>

                    <div class="col-md-4 pl-4">
                        <i class="fas fa-heart"></i> {{ point.rating*20 | number : 0 }}%
                    </div>

                    <div class="col-md-4">
                        <i class="fas fa-eye"></i> {{ point.views }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="points.length == 0" class="grid-container-points mt-5">
        <h6 class="text-success">Could not favorited points</h6>
    </div>
</div>

<!-- Reviews Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content review-modal-content">
            <div class="modal-header review-modal-header">
                <h5 class="modal-title" id="reviewModalLabel">{{pointToReview.name}} Reviews</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-if="pointHasReviews" class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item mb-2" ng-repeat="review in pointToReview.reviews">
                        <div class="col-md-12">
                            <h6 class="col-md-12">
                                <i class="fas fa-user-circle"></i>
                                {{ review.username }}
                            </h6>
                            <div class="col-md-12">
                                <cite>
                                    {{ review.description }}
                                </cite>
                            </div>
                            <hr>
                            <div class="col-md-12 d-inline-flex mt-1">
                                <div class="col-md-8 text-left pl-0">
                                    <i class="fas fa-clock"></i>
                                    {{ review.time | date:"dd/MM/yyyy 'at' H:mma" }}
                                </div>
                                <div class="col-md-4 text-right pr-0">
                                    {{ review.rating | number : 0 }}/5
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="!pointHasReviews" class="modal-body">
                This point has no reviews yet.
            </div>
        </div>
    </div>
</div>