<div class="col-md-12 h-75 pt-2 m-auto" ng-init="init()">
    <div ng-if="toLogin">
        <div class="h-25">
            <h1>Login</h1>
        </div>

        <div class="col-md-6 text-center mt-5 ml-auto mr-auto">
            <input type="text" name="username" ng-model="loginForm.username" placeholder="Username" class="form-control mt-1">
            <input type="Password" name="password" ng-model="loginForm.password" placeholder="Password" class="form-control mt-1">
            <button class="btn btn-success form-control mt-2" ng-click="login()">Login</button>
            <small class="text-danger">{{loginForm.err}}</small>
        </div>

        <div class="row">
            <button class="btn btn-link m-0 p-0 text-success" ng-click="toggleLogReg()"> <i class="fas fa-user-plus"></i> Register</button>
            <span class="ml-1"> | </span>
            <button class="btn btn-link m-0 p-0 ml-2 text-success" ng-click="passwordForget()"> <i class="fas fa-unlock-alt"></i> Forgot Password?</button>
        </div>

    </div>

    <div ng-if="!toLogin">
        <div class="">
            <h1>Register</h1>
        </div>

        <div class="col-md-6 text-center mt-2 ml-auto mr-auto">
            <div class="d-flex">
                <div class="col-md-6 pull-left ml-0 pl-0 pr-1">
                    <input type="text" data-toggle="tooltip" title="First Name" name="firstName" ng-model="registerForm.firstName" placeholder="First Name"
                        class="form-control mt-1">
                </div>
                <div class="col-md-6 pull-right mr-0 pr-0 pl-1">
                    <input type="text" data-toggle="tooltip" title="Last Name" name="lastName" ng-model="registerForm.lastName" placeholder="Last Name"
                        class="form-control mt-1">
                </div>
            </div>

            <select name="country" ng-model="registerForm.country" class="form-control mt-1">
                <option value="" disabled="disabled"> Choose a country </option>
                <option ng-repeat="country in countries" value="{{country.Name}}"> {{ country.Name }} </option>
            </select>
            <input ng-if="registerForm.country" type="text" name="city" data-toggle="tooltip" title="City" ng-model="registerForm.city"
                placeholder="City" class="form-control mt-1">
            <hr>
            <input type="text" name="email" ng-model="registerForm.email" data-toggle="tooltip" title="Email" placeholder="E-mail Ex: abc@def.ghi"
                class="form-control mt-1">
            <input type="text" name="username" ng-model="registerForm.username" placeholder="Username" data-toggle="tooltip" title="Username"
                class="form-control mt-1">
            <input type="Password" name="password" ng-model="registerForm.password" placeholder="Password" data-toggle="tooltip" title="Password"
                class="form-control mt-1">
            <hr>

            <div class="d-flex">
                <div class="col-md-6 pull-left ml-0 pl-0 pr-1">
                    <input type="text" name="question" ng-model="registerForm.question" data-toggle="tooltip" title="1st Question" placeholder="1st security question"
                        class="form-control mt-1">
                </div>
                <div class="col-md-6 pull-right mr-0 pr-0 pl-1">
                    <input type="text" name="answer" ng-model="registerForm.answer" placeholder="1st security answer" data-toggle="tooltip" title="1st Answer"
                        class="form-control mt-1">
                </div>
            </div>

            <div class="d-flex">
                <div class="col-md-6 pull-left ml-0 pl-0 pr-1">
                    <input type="text" name="question2" ng-model="registerForm.question2" placeholder="2nd security question" data-toggle="tooltip"
                        title="2nd Question" class="form-control mt-1">
                </div>
                <div class="col-md-6 pull-right mr-0 pr-0 pl-1">
                    <input type="text" name="answer2" ng-model="registerForm.answer2" placeholder="2nd security question" data-toggle="tooltip"
                        title="2nd Answer" class="form-control mt-1">
                </div>
            </div>

            <hr>

            <div class="col-md-12 grid-container">
                <div ng-repeat="category in categories" class="grid-item">
                    <input type="checkbox" name="categories" value="category.name" ng-click="toggleCategory(category.id)"> {{category.name}}
                </div>
            </div>

            <button class="btn btn-success form-control mt-2" ng-click="register()">Register</button>
            <small class="text-danger">{{registerForm.err}}</small>
        </div>
        <div class="row">
            <span>Already have an account? </span>
            <button class="btn btn-link m-0 p-0 text-success" ng-click="toggleLogReg()">Login</button>
        </div>
    </div>
</div>