<div class="row pb-4 pt-2" ng-init="init()">
    <div class="col-md-12 d-flex m-auto text-center">
        <div class="col-md-5 mr-5 pr-5 chartCell">
            <canvas id="avg_views" width="400" height="400"></canvas>
        </div>

        <div class="col-md-5 ml-5 pl-5 chartCell">
            <canvas id="max_views" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="col-md-12 d-flex mt-5 text-center border-top pt-5">
        <div class="col-md-5 mr-5 pr-5 chartCell">
            <canvas id="perc9" width="400" height="400"></canvas>
        </div>

        <div class="col-md-5 ml-5 pl-5 chartCell">
            <canvas id="perc5" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="col-md-12 d-flex mt-5 text-center border-top pt-5">
        <div class="col-md-5 mr-5 pr-5 chartCell">
            <canvas id="users_review" width="400" height="400"></canvas>
        </div>

        <div class="col-md-5 ml-5 pl-5 chartCell">
            <canvas id="points_review" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="col-md-12 d-flex mt-5 text-center border-top pt-5">
        <div class="col-md-5 mr-5 pr-5 chartCell">
            <canvas id="favorite_time" width="400" height="400"></canvas>
        </div>

        <div class="col-md-5 ml-5 pl-5 chartCell">
            <canvas id="review_time" width="400" height="400"></canvas>
        </div>
    </div>
</div>