<div class="col-md-12" ng-init="init()">
    <div class="col-md-12 d-flex mt-4">
        <div class="col-md-2 d-flex text-right">
            <div ng-if="ascending == 1" ng-click="switchAscDesc()">
                <i class="fas fa-sort-alpha-down filterSign" ></i>
            </div>
            <div ng-if="ascending == -1" ng-click="switchAscDesc()">
                <i class="fas fa-sort-alpha-up filterSign" ></i>
            </div>
            <h5 class="ml-2 mt-2"> Sort By:</h5>
        </div>
        <div class="col-md-2 mr-2">
            <select ng-model="sortByValue" class="form-control" ng-change="updateSortValue()">
                <option ng-repeat="option in sorts"  value="{{option.value}}">{{option.name}}</option>
            </select>
        </div>
    </div>

    <div class="col-md-12 d-flex mt-1">
        <div class="col-md-2 d-flex text-right">
            <h5 class="ml-2 mt-2"> Filter By:</h5>
        </div>
        <div class="col-md-2 mr-2">
            <select ng-model="categoryFilter" ng-change="filterByCategory()" class="form-control">
                <!-- ng-selected="filterByCategory()" -->
                <option value="">All</option>                
                <option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
            </select>
        </div>
    </div>

    <div class="grid-container-points mt-5">
        <div class="grid-item-points" ng-repeat="point in points">
            <div class="card ">
                <div class="card-header text-center alert-success font-weight-bold">{{point.name}} [{{point.category}}]</div>
                <div class="card-body">
                    <img class="homepage-card-img" ng-src="{{point.img_url}}">
                    <p class="card-text" ng-if="point.description.length > 275"> {{point.description | limitTo: 275}}.. </p>
                    <p class="card-text" ng-if="point.description.length <= 275"> {{point.description}} </p>
                </div>
                <div class="card-footer d-inline-flex bg-dark text-white">
                    <div class="col-md-4 pl-0">
                        <i class="fas fa-external-link-alt"></i>
                        <a href="#!/point/{{point.id}}" class="card-link text-success">Link</a>
                    </div>

                    <div class="col-md-3 pl-0">
                        <i class="fas fa-comments"></i>
                        <button class="btn btn-link text-success m-0 p-0" ng-click="showReviewsModal(point.id)"> {{ point.total_reviews || 0 }} </button>
                    </div>

                    <div class="col-md-4 pl-0">
                        <i class="fas fa-star"></i> {{ point.rating*20 }}%
                    </div>

                    <div class="col-md-3 pl-0">
                        <i class="fas fa-eye"></i> {{ point.views }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Reviews Modal -->
<div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content review-modal-content">
            <div class="modal-header review-modal-header">
                <h5 class="modal-title" id="reviewModalLabel">{{pointToReview.name}} Reviews</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div ng-if="pointHasReviews" class="modal-body">
                <ul class="list-group">
                    <li class="list-group-item mb-2" ng-repeat="review in pointToReview.reviews">
                        <div class="col-md-12">
                            <h6 class="col-md-12">
                                <i class="fas fa-user-circle"></i>
                                {{ review.username }}
                            </h6>
                            <div class="col-md-12">
                                <cite>
                                    {{ review.description }}
                                </cite>
                            </div>
                            <hr>
                            <div class="col-md-12 d-inline-flex mt-1">
                                <div class="col-md-8 text-left pl-0">
                                    <i class="fas fa-clock"></i>
                                    {{ review.time | date:"dd/MM/yyyy 'at' H:mma" }}
                                </div>
                                <div class="col-md-4 text-right pr-0">
                                    {{ review.rating }}/5
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="!pointHasReviews" class="modal-body">
                This point has no reviews yet.
            </div>
        </div>
    </div>
</div>